* {
    box-sizing: border-box;
}

.choose-contest {
    margin-top: 10%;
    background: #eee;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
    /* width: 700px; */
    border: 2px solid black;
}

.choose-contest .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-contest .suggested-level {
    margin: 15px 0;
    font-weight: bold;
}

.choose-contest .note {
    color: red;
    font-size: 13px;
    margin-bottom: 15px;
}

.choose-contest .note a {
    color: #4a5ad0;
    text-decoration: none;
}

.choose-contest .theme-box {
    padding: 10px 20px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 2px solid black;
    width: 40%;
}

/* profile */
.choose-contest .problems-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5%;
  text-align: center;
}

.choose-contest .problem-cell {
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
}

.choose-contest .duration{
    margin-top: 5%;
}

.choose-contest .create-btn{
    margin-top: 5%;
}